<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static\styles.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="ideZul"></div>
    <div class="heroContent">
      <h1 class="heroText">Iziyobisi</h1>
      <h2 class="heroDesc">Find Suitable Medicine For You!</h2>
      <a href="/iziyobisi"><button class="start">Start</button></a>
    </div>

    <img
      class="heroImage"
      src="{{url_for('static', filename='heroImage.png')}}"
      alt=""
    />
    <h1 class="tosca satu">+</h1>
    <h1 class="tosca dua">+</h1>
    <h1 class="oren tiga">+</h1>
    <h1 class="oren empat">+</h1>
    <h1 class="oren lima">+</h1>
    <h1 class="tosca enam">+</h1>
  </body>
</html>
